 body{background-color: aquamarine;
 }
 input:hover{
         background-color:chartreuse;
 }
        body{
            font-size:40%;
        }
        body{
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
