 body{background-image:linear-gradient(to right,red,yellow,red,yellow,red,yellow,red,yellow);}

        body{
            font-size:40%;
        }
        pre {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        input:focus{
            background-color:linear-gradient(black,red);
        }